$font-stack: "Courier New", Courier, monospace;
$nvigation-color: #333;
$body-bcg-color: #ffffff;
$body-text-color: #000;
$wrapper-bcg-color: #3b3b3b31;
$activ-color: #0262cfb7;
$span-color: #999;
$border: $activ-color dashed 1.5px;